%dashboard {
  font-weight: bold;
}

.dashboard-add-form {
  width: 300px;
}

.dashboard-list-item {
  cursor: pointer;
}

.dashboard--green {
  @extend %dashboard;
  color: rgb(25, 200, 25);
}

.dashboardContainer {
  margin: 1em auto;
}
